---
layout: default
---

<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']], // 行内公式标识符：$公式$ 和 \(公式\)
      displayMath: [['$$', '$$'], ['\\[', '\\]']], // 块级公式标识符：$$公式$$ 和 \[公式\]
      processEscapes: true // 允许用 \$ 表示美元符号，避免和公式冲突
    }
  };
</script>

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>

  {{ content }}
</article>